USE [master]
GO
/****** Object:  Database [Medical]    Script Date: 25/04/2018 20:59:19 ******/
CREATE DATABASE [Medical]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Medical', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Medical.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Medical_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Medical_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Medical].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Medical]
GO
/****** Object:  Table [dbo].[CONTRAINDICACION_DIAGNOSTICO]    Script Date: 25/04/2018 20:59:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTRAINDICACION_DIAGNOSTICO](
	[ICODIGO] [int] NOT NULL,
	[IIDIAGNOSTICO] [int] NOT NULL,
	[VDESCRIPCION] [varchar](500) NULL,
 CONSTRAINT [PK_CONTRAINDICACION_DIAGNOSTICO] PRIMARY KEY CLUSTERED 
(
	[ICODIGO] ASC,
	[IIDIAGNOSTICO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTRAINDICACION_MEDICAMENTO]    Script Date: 25/04/2018 20:59:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTRAINDICACION_MEDICAMENTO](
	[ICODIGO] [int] NOT NULL,
	[IIDMEDICAMENTO] [int] NOT NULL,
	[VDESCRIPCION] [varchar](500) NULL,
 CONSTRAINT [PK_CONTRAINDICACION_MEDICAMENTO] PRIMARY KEY CLUSTERED 
(
	[ICODIGO] ASC,
	[IIDMEDICAMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTRAINDICACION_SINTOMA]    Script Date: 25/04/2018 20:59:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTRAINDICACION_SINTOMA](
	[ICODIGO] [int] NOT NULL,
	[IIDSINTOMA] [int] NOT NULL,
	[VDESCRIPCION] [varchar](500) NULL,
 CONSTRAINT [PK_CONTRAINDICACION_SINTOMA] PRIMARY KEY CLUSTERED 
(
	[ICODIGO] ASC,
	[IIDSINTOMA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DATOSPERSONALES]    Script Date: 25/04/2018 20:59:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATOSPERSONALES](
	[VCEDULA] [varchar](11) NOT NULL,
	[VNOMBRE] [varchar](50) NOT NULL,
	[VPRIMERAPELLIDO] [varchar](50) NOT NULL,
	[VSEGUNDOPELLIDO] [varchar](50) NOT NULL,
	[DTFECHANACIMIENTO] [date] NOT NULL,
	[VGENERO] [varchar](9) NOT NULL,
 CONSTRAINT [PK_DatosPersonales] PRIMARY KEY CLUSTERED 
(
	[VCEDULA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIAGNOSTICO]    Script Date: 25/04/2018 20:59:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIAGNOSTICO](
	[IID] [int] IDENTITY(1,1) NOT NULL,
	[VDIAGNOSTICO] [varchar](100) NOT NULL,
	[TDESCRIPCION] [text] NOT NULL,
 CONSTRAINT [PK_DIAGNOSTICO] PRIMARY KEY CLUSTERED 
(
	[IID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIAGNOSTICO_SINTOMA]    Script Date: 25/04/2018 20:59:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIAGNOSTICO_SINTOMA](
	[IIDDIAGNOSTICO] [int] NOT NULL,
	[IIDSINTOMA] [int] NOT NULL,
 CONSTRAINT [PK_DIAGNOSTICO_SINTOMA] PRIMARY KEY CLUSTERED 
(
	[IIDDIAGNOSTICO] ASC,
	[IIDSINTOMA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOSIS]    Script Date: 25/04/2018 20:59:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOSIS](
	[ICODIGO] [int] NOT NULL,
	[VRANGO] [varchar](50) NOT NULL,
	[DDOSIS] [decimal](18, 4) NOT NULL,
	[DMIN] [decimal](18, 4) NOT NULL,
	[DMAX] [decimal](18, 4) NOT NULL,
 CONSTRAINT [PK_DOSIS_1] PRIMARY KEY CLUSTERED 
(
	[ICODIGO] ASC,
	[VRANGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EFECTO_ADVERSO]    Script Date: 25/04/2018 20:59:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EFECTO_ADVERSO](
	[ICODIGO] [int] NOT NULL,
	[IIDSINTOMA] [int] NOT NULL,
 CONSTRAINT [PK_EFECTO_ADVERSO] PRIMARY KEY CLUSTERED 
(
	[ICODIGO] ASC,
	[IIDSINTOMA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INDICACION_DIAGNOSTICO]    Script Date: 25/04/2018 20:59:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INDICACION_DIAGNOSTICO](
	[ICODIGO] [int] NOT NULL,
	[IIDIAGNOSTICO] [int] NOT NULL,
	[VDESCRIPCION] [varchar](500) NULL,
 CONSTRAINT [PK_INDICACION_DIAGNOSTICO] PRIMARY KEY CLUSTERED 
(
	[ICODIGO] ASC,
	[IIDIAGNOSTICO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INDICACION_SINTOMA]    Script Date: 25/04/2018 20:59:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INDICACION_SINTOMA](
	[ICODIGO] [int] NOT NULL,
	[ISINTOMA] [int] NOT NULL,
	[VDESCRIPCION] [varchar](500) NULL,
 CONSTRAINT [PK_INDICACION_SINTOMA] PRIMARY KEY CLUSTERED 
(
	[ICODIGO] ASC,
	[ISINTOMA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEDI_NOMBRE]    Script Date: 25/04/2018 20:59:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEDI_NOMBRE](
	[ICODIGO] [int] NOT NULL,
	[VNOMBRE] [varchar](100) NOT NULL,
 CONSTRAINT [PK_MEDI_NOMBRE] PRIMARY KEY CLUSTERED 
(
	[ICODIGO] ASC,
	[VNOMBRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEDICAMENTO]    Script Date: 25/04/2018 20:59:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEDICAMENTO](
	[ICODIGO] [int] IDENTITY(1,1) NOT NULL,
	[VESTEROQUIMICA] [varchar](500) NULL,
	[VCOMPOSIION] [varchar](500) NULL,
	[VDESCRIPCION] [varchar](500) NOT NULL,
	[BESTADO] [bit] NOT NULL,
 CONSTRAINT [PK_MEDICAMENTO] PRIMARY KEY CLUSTERED 
(
	[ICODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEDICAMENTO_VIA]    Script Date: 25/04/2018 20:59:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEDICAMENTO_VIA](
	[ICODIGO] [int] NOT NULL,
	[IIDVIA] [int] NOT NULL,
 CONSTRAINT [PK_MEDICAMENTO_VIA] PRIMARY KEY CLUSTERED 
(
	[ICODIGO] ASC,
	[IIDVIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PACIENTE]    Script Date: 25/04/2018 20:59:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PACIENTE](
	[VIDENTIFICACION] [varchar](11) NOT NULL,
	[IDIAGNOSTICO] [int] NOT NULL,
	[IEDAD] [int] NOT NULL,
	[DTALLA] [decimal](18, 2) NOT NULL,
	[DPESO] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_PACIENTE] PRIMARY KEY CLUSTERED 
(
	[VIDENTIFICACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PACIENTE_MEDICAMENTO]    Script Date: 25/04/2018 20:59:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PACIENTE_MEDICAMENTO](
	[VIDENTIFICACION] [varchar](11) NOT NULL,
	[ICODIGO] [int] NOT NULL,
	[DDOSIS] [decimal](18, 4) NOT NULL,
	[VDESCRIPCION] [varchar](500) NULL,
	[VVIAADMINISTRACION] [varchar](100) NOT NULL,
	[VRANGO] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PACIENTE_MEDICAMENTO] PRIMARY KEY CLUSTERED 
(
	[VIDENTIFICACION] ASC,
	[ICODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PACIENTE_SINTOMA]    Script Date: 25/04/2018 20:59:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PACIENTE_SINTOMA](
	[VIDENTIFICACION] [varchar](11) NOT NULL,
	[IIDSINTOMA] [int] NOT NULL,
	[BESTADO] [bit] NOT NULL,
 CONSTRAINT [PK_PACIENTE_SINTOMA] PRIMARY KEY CLUSTERED 
(
	[VIDENTIFICACION] ASC,
	[IIDSINTOMA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PADECIMIENTO]    Script Date: 25/04/2018 20:59:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PADECIMIENTO](
	[IID] [int] IDENTITY(1,1) NOT NULL,
	[IIDPACIENTE] [varchar](11) NOT NULL,
	[IIDDIAGNOSTICO] [int] NOT NULL,
	[DTFECHAINICIO] [date] NOT NULL,
	[BESTADO] [bit] NOT NULL,
	[DTFECHAFINALIZACION] [date] NULL,
 CONSTRAINT [PK_PADECIMIENTOS] PRIMARY KEY CLUSTERED 
(
	[IID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIGNOS_VITALES]    Script Date: 25/04/2018 20:59:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIGNOS_VITALES](
	[IIDPACIENTE] [varchar](11) NOT NULL,
	[DTFECHA] [datetime] NOT NULL,
	[IPRESION] [int] NULL,
	[DTEMPERATURA] [decimal](18, 4) NULL,
	[ISATURACION] [int] NULL,
	[IPULSO] [int] NULL,
 CONSTRAINT [PK_SIGNOS_VITALES] PRIMARY KEY CLUSTERED 
(
	[IIDPACIENTE] ASC,
	[DTFECHA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINTOMA]    Script Date: 25/04/2018 20:59:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINTOMA](
	[IID] [int] IDENTITY(1,1) NOT NULL,
	[VEFECTO] [varchar](100) NOT NULL,
	[VDESCRIPCION] [varchar](500) NULL,
 CONSTRAINT [PK_SINTOMA] PRIMARY KEY CLUSTERED 
(
	[IID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 25/04/2018 20:59:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[USUARIO] [varchar](26) NOT NULL,
	[PASSWORD] [varchar](26) NOT NULL,
	[IDDATOSPERSONALES] [varchar](11) NOT NULL,
	[VROL] [varchar](50) NOT NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[USUARIO] ASC,
	[PASSWORD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VIA_ADMINISTRACION]    Script Date: 25/04/2018 20:59:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VIA_ADMINISTRACION](
	[IID] [int] IDENTITY(1,1) NOT NULL,
	[VNOMBRE] [varchar](100) NOT NULL,
	[VDESCRIPCION] [varchar](500) NULL,
 CONSTRAINT [PK_VIA_ADMINISTRACION] PRIMARY KEY CLUSTERED 
(
	[IID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VistaMedicamentosContraindicacion]    Script Date: 25/04/2018 20:59:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VistaMedicamentosContraindicacion]
AS
SELECT        ICODIGO AS Codigo,
                             (SELECT        TOP (1) VNOMBRE
                               FROM            dbo.MEDI_NOMBRE
                               WHERE        (ICODIGO = C.IIDMEDICAMENTO)) AS Medicamento, VDESCRIPCION AS Descripcion
FROM            dbo.CONTRAINDICACION_MEDICAMENTO AS C
GO
/****** Object:  View [dbo].[VistaPacienteMedicamento]    Script Date: 25/04/2018 20:59:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VistaPacienteMedicamento]
AS
SELECT        VIDENTIFICACION AS Cedula,
                             (SELECT        TOP (1) VNOMBRE
                               FROM            dbo.MEDI_NOMBRE
                               WHERE        (ICODIGO = P.ICODIGO)) AS Medicamento, DDOSIS AS Dosis, VRANGO AS Rango, VVIAADMINISTRACION AS Via_Administracion, VDESCRIPCION AS Descripcion
FROM            dbo.PACIENTE_MEDICAMENTO AS P
GO
INSERT [dbo].[CONTRAINDICACION_DIAGNOSTICO] ([ICODIGO], [IIDIAGNOSTICO], [VDESCRIPCION]) VALUES (5, 2021, N'alergias')
INSERT [dbo].[CONTRAINDICACION_DIAGNOSTICO] ([ICODIGO], [IIDIAGNOSTICO], [VDESCRIPCION]) VALUES (6, 2021, NULL)
INSERT [dbo].[CONTRAINDICACION_DIAGNOSTICO] ([ICODIGO], [IIDIAGNOSTICO], [VDESCRIPCION]) VALUES (7, 2021, NULL)
INSERT [dbo].[CONTRAINDICACION_MEDICAMENTO] ([ICODIGO], [IIDMEDICAMENTO], [VDESCRIPCION]) VALUES (5, 6, N'sobredosis')
INSERT [dbo].[CONTRAINDICACION_MEDICAMENTO] ([ICODIGO], [IIDMEDICAMENTO], [VDESCRIPCION]) VALUES (5, 7, NULL)
INSERT [dbo].[CONTRAINDICACION_MEDICAMENTO] ([ICODIGO], [IIDMEDICAMENTO], [VDESCRIPCION]) VALUES (6, 5, N'sobredosis')
INSERT [dbo].[CONTRAINDICACION_SINTOMA] ([ICODIGO], [IIDSINTOMA], [VDESCRIPCION]) VALUES (5, 2007, N'sueño')
INSERT [dbo].[CONTRAINDICACION_SINTOMA] ([ICODIGO], [IIDSINTOMA], [VDESCRIPCION]) VALUES (5, 2011, NULL)
INSERT [dbo].[CONTRAINDICACION_SINTOMA] ([ICODIGO], [IIDSINTOMA], [VDESCRIPCION]) VALUES (6, 2006, N'asma')
INSERT [dbo].[DATOSPERSONALES] ([VCEDULA], [VNOMBRE], [VPRIMERAPELLIDO], [VSEGUNDOPELLIDO], [DTFECHANACIMIENTO], [VGENERO]) VALUES (N'1-1111-1111', N'Ale', N'Sanchez', N'Arias', CAST(N'2000-05-09' AS Date), N'Femenino')
INSERT [dbo].[DATOSPERSONALES] ([VCEDULA], [VNOMBRE], [VPRIMERAPELLIDO], [VSEGUNDOPELLIDO], [DTFECHANACIMIENTO], [VGENERO]) VALUES (N'1-1396-0817', N'David', N'Campos', N'Chavarria', CAST(N'1992-06-12' AS Date), N'Masculino')
INSERT [dbo].[DATOSPERSONALES] ([VCEDULA], [VNOMBRE], [VPRIMERAPELLIDO], [VSEGUNDOPELLIDO], [DTFECHANACIMIENTO], [VGENERO]) VALUES (N'2-2222-2222', N'juan', N'casss', N'miran', CAST(N'2018-03-09' AS Date), N'Masculino')
SET IDENTITY_INSERT [dbo].[DIAGNOSTICO] ON 

INSERT [dbo].[DIAGNOSTICO] ([IID], [VDIAGNOSTICO], [TDESCRIPCION]) VALUES (2020, N'Asma', N'Problema respiratorio')
INSERT [dbo].[DIAGNOSTICO] ([IID], [VDIAGNOSTICO], [TDESCRIPCION]) VALUES (2021, N'Dermatitis', N'Alergia a algo')
INSERT [dbo].[DIAGNOSTICO] ([IID], [VDIAGNOSTICO], [TDESCRIPCION]) VALUES (2022, N'Cancer Pulmon', N'tipo de cancer')
SET IDENTITY_INSERT [dbo].[DIAGNOSTICO] OFF
INSERT [dbo].[DIAGNOSTICO_SINTOMA] ([IIDDIAGNOSTICO], [IIDSINTOMA]) VALUES (2020, 2006)
INSERT [dbo].[DIAGNOSTICO_SINTOMA] ([IIDDIAGNOSTICO], [IIDSINTOMA]) VALUES (2021, 2005)
INSERT [dbo].[DIAGNOSTICO_SINTOMA] ([IIDDIAGNOSTICO], [IIDSINTOMA]) VALUES (2021, 2006)
INSERT [dbo].[DOSIS] ([ICODIGO], [VRANGO], [DDOSIS], [DMIN], [DMAX]) VALUES (5, N'Adultos', CAST(500.0000 AS Decimal(18, 4)), CAST(250.0000 AS Decimal(18, 4)), CAST(3000.0000 AS Decimal(18, 4)))
INSERT [dbo].[DOSIS] ([ICODIGO], [VRANGO], [DDOSIS], [DMIN], [DMAX]) VALUES (5, N'Niños', CAST(100.0000 AS Decimal(18, 4)), CAST(50.0000 AS Decimal(18, 4)), CAST(500.0000 AS Decimal(18, 4)))
INSERT [dbo].[DOSIS] ([ICODIGO], [VRANGO], [DDOSIS], [DMIN], [DMAX]) VALUES (6, N'Adultos', CAST(500.0000 AS Decimal(18, 4)), CAST(250.0000 AS Decimal(18, 4)), CAST(3000.0000 AS Decimal(18, 4)))
INSERT [dbo].[EFECTO_ADVERSO] ([ICODIGO], [IIDSINTOMA]) VALUES (5, 2007)
INSERT [dbo].[EFECTO_ADVERSO] ([ICODIGO], [IIDSINTOMA]) VALUES (5, 2011)
INSERT [dbo].[EFECTO_ADVERSO] ([ICODIGO], [IIDSINTOMA]) VALUES (6, 2006)
INSERT [dbo].[INDICACION_DIAGNOSTICO] ([ICODIGO], [IIDIAGNOSTICO], [VDESCRIPCION]) VALUES (6, 2020, NULL)
INSERT [dbo].[INDICACION_DIAGNOSTICO] ([ICODIGO], [IIDIAGNOSTICO], [VDESCRIPCION]) VALUES (7, 2022, NULL)
INSERT [dbo].[INDICACION_DIAGNOSTICO] ([ICODIGO], [IIDIAGNOSTICO], [VDESCRIPCION]) VALUES (8, 2021, NULL)
INSERT [dbo].[INDICACION_SINTOMA] ([ICODIGO], [ISINTOMA], [VDESCRIPCION]) VALUES (5, 2008, N'ligero')
INSERT [dbo].[INDICACION_SINTOMA] ([ICODIGO], [ISINTOMA], [VDESCRIPCION]) VALUES (6, 2008, N'agudo')
INSERT [dbo].[INDICACION_SINTOMA] ([ICODIGO], [ISINTOMA], [VDESCRIPCION]) VALUES (7, 2005, NULL)
INSERT [dbo].[MEDI_NOMBRE] ([ICODIGO], [VNOMBRE]) VALUES (5, N'Acetaminofen')
INSERT [dbo].[MEDI_NOMBRE] ([ICODIGO], [VNOMBRE]) VALUES (6, N'Kataflan')
INSERT [dbo].[MEDI_NOMBRE] ([ICODIGO], [VNOMBRE]) VALUES (7, N'Ibupro')
SET IDENTITY_INSERT [dbo].[MEDICAMENTO] ON 

INSERT [dbo].[MEDICAMENTO] ([ICODIGO], [VESTEROQUIMICA], [VCOMPOSIION], [VDESCRIPCION], [BESTADO]) VALUES (5, NULL, NULL, N'analgesico', 0)
INSERT [dbo].[MEDICAMENTO] ([ICODIGO], [VESTEROQUIMICA], [VCOMPOSIION], [VDESCRIPCION], [BESTADO]) VALUES (6, NULL, NULL, N'analgesico', 0)
INSERT [dbo].[MEDICAMENTO] ([ICODIGO], [VESTEROQUIMICA], [VCOMPOSIION], [VDESCRIPCION], [BESTADO]) VALUES (7, N'menos', N'se', N'antinflamatorio', 1)
SET IDENTITY_INSERT [dbo].[MEDICAMENTO] OFF
INSERT [dbo].[MEDICAMENTO_VIA] ([ICODIGO], [IIDVIA]) VALUES (5, 1)
INSERT [dbo].[MEDICAMENTO_VIA] ([ICODIGO], [IIDVIA]) VALUES (6, 1)
INSERT [dbo].[MEDICAMENTO_VIA] ([ICODIGO], [IIDVIA]) VALUES (7, 1)
INSERT [dbo].[PACIENTE] ([VIDENTIFICACION], [IDIAGNOSTICO], [IEDAD], [DTALLA], [DPESO]) VALUES (N'5-5555-5555', 2020, 8, CAST(200.00 AS Decimal(18, 2)), CAST(110.00 AS Decimal(18, 2)))
INSERT [dbo].[PACIENTE] ([VIDENTIFICACION], [IDIAGNOSTICO], [IEDAD], [DTALLA], [DPESO]) VALUES (N'8-8888-8888', 2020, 17, CAST(2.00 AS Decimal(18, 2)), CAST(80.00 AS Decimal(18, 2)))
INSERT [dbo].[PACIENTE_MEDICAMENTO] ([VIDENTIFICACION], [ICODIGO], [DDOSIS], [VDESCRIPCION], [VVIAADMINISTRACION], [VRANGO]) VALUES (N'5-5555-5555', 7, CAST(6000.0000 AS Decimal(18, 4)), N'', N'oral', N'Adultos')
INSERT [dbo].[PACIENTE_MEDICAMENTO] ([VIDENTIFICACION], [ICODIGO], [DDOSIS], [VDESCRIPCION], [VVIAADMINISTRACION], [VRANGO]) VALUES (N'5-5555-5555', 8, CAST(565.0000 AS Decimal(18, 4)), N'', N'oral', N'Adultos')
INSERT [dbo].[PACIENTE_MEDICAMENTO] ([VIDENTIFICACION], [ICODIGO], [DDOSIS], [VDESCRIPCION], [VVIAADMINISTRACION], [VRANGO]) VALUES (N'8-8888-8888', 10, CAST(3000.0000 AS Decimal(18, 4)), N'', N'oral', N'Adultos')
INSERT [dbo].[PACIENTE_SINTOMA] ([VIDENTIFICACION], [IIDSINTOMA], [BESTADO]) VALUES (N'5-5555-5555', 2008, 1)
INSERT [dbo].[PACIENTE_SINTOMA] ([VIDENTIFICACION], [IIDSINTOMA], [BESTADO]) VALUES (N'5-5555-5555', 2011, 1)
INSERT [dbo].[PACIENTE_SINTOMA] ([VIDENTIFICACION], [IIDSINTOMA], [BESTADO]) VALUES (N'5-5555-5555', 2014, 1)
SET IDENTITY_INSERT [dbo].[PADECIMIENTO] ON 

INSERT [dbo].[PADECIMIENTO] ([IID], [IIDPACIENTE], [IIDDIAGNOSTICO], [DTFECHAINICIO], [BESTADO], [DTFECHAFINALIZACION]) VALUES (24, N'5-5555-5555', 2020, CAST(N'2018-04-25' AS Date), 1, CAST(N'2018-04-25' AS Date))
INSERT [dbo].[PADECIMIENTO] ([IID], [IIDPACIENTE], [IIDDIAGNOSTICO], [DTFECHAINICIO], [BESTADO], [DTFECHAFINALIZACION]) VALUES (25, N'8-8888-8888', 2020, CAST(N'2018-04-25' AS Date), 1, CAST(N'2018-04-25' AS Date))
SET IDENTITY_INSERT [dbo].[PADECIMIENTO] OFF
INSERT [dbo].[SIGNOS_VITALES] ([IIDPACIENTE], [DTFECHA], [IPRESION], [DTEMPERATURA], [ISATURACION], [IPULSO]) VALUES (N'5-5555-5555', CAST(N'2018-04-25T18:56:57.227' AS DateTime), NULL, NULL, NULL, 95)
INSERT [dbo].[SIGNOS_VITALES] ([IIDPACIENTE], [DTFECHA], [IPRESION], [DTEMPERATURA], [ISATURACION], [IPULSO]) VALUES (N'5-5555-5555', CAST(N'2018-04-25T18:57:00.283' AS DateTime), NULL, CAST(44.0000 AS Decimal(18, 4)), NULL, NULL)
INSERT [dbo].[SIGNOS_VITALES] ([IIDPACIENTE], [DTFECHA], [IPRESION], [DTEMPERATURA], [ISATURACION], [IPULSO]) VALUES (N'5-5555-5555', CAST(N'2018-04-25T18:57:03.370' AS DateTime), NULL, NULL, 51, NULL)
SET IDENTITY_INSERT [dbo].[SINTOMA] ON 

INSERT [dbo].[SINTOMA] ([IID], [VEFECTO], [VDESCRIPCION]) VALUES (2005, N'Alergia', N'picazon')
INSERT [dbo].[SINTOMA] ([IID], [VEFECTO], [VDESCRIPCION]) VALUES (2006, N'Tos', N'problema respiratorio')
INSERT [dbo].[SINTOMA] ([IID], [VEFECTO], [VDESCRIPCION]) VALUES (2007, N'Somnolencia', N'sueño sin motivo')
SET IDENTITY_INSERT [dbo].[SINTOMA] OFF
INSERT [dbo].[USUARIO] ([USUARIO], [PASSWORD], [IDDATOSPERSONALES], [VROL]) VALUES (N'david', N'123456', N'1-1396-0817', N'Administrador')
SET IDENTITY_INSERT [dbo].[VIA_ADMINISTRACION] ON 

INSERT [dbo].[VIA_ADMINISTRACION] ([IID], [VNOMBRE], [VDESCRIPCION]) VALUES (1, N'oral', N'por la boca')
INSERT [dbo].[VIA_ADMINISTRACION] ([IID], [VNOMBRE], [VDESCRIPCION]) VALUES (2, N'Intravenosa', N'Injeccion')
SET IDENTITY_INSERT [dbo].[VIA_ADMINISTRACION] OFF
ALTER TABLE [dbo].[MEDICAMENTO] ADD  CONSTRAINT [DF_MEDICAMENTO_BESTADO]  DEFAULT ((1)) FOR [BESTADO]
GO
ALTER TABLE [dbo].[PACIENTE_SINTOMA] ADD  CONSTRAINT [DF_PACIENTE_SINTOMA_BESTADO]  DEFAULT ((1)) FOR [BESTADO]
GO
ALTER TABLE [dbo].[CONTRAINDICACION_DIAGNOSTICO]  WITH CHECK ADD  CONSTRAINT [FK_CONTRAINDICACION_DIAGNOSTICO_DIAGNOSTICO] FOREIGN KEY([IIDIAGNOSTICO])
REFERENCES [dbo].[DIAGNOSTICO] ([IID])
GO
ALTER TABLE [dbo].[CONTRAINDICACION_DIAGNOSTICO] CHECK CONSTRAINT [FK_CONTRAINDICACION_DIAGNOSTICO_DIAGNOSTICO]
GO
ALTER TABLE [dbo].[CONTRAINDICACION_DIAGNOSTICO]  WITH CHECK ADD  CONSTRAINT [FK_CONTRAINDICACION_DIAGNOSTICO_MEDICAMENTO] FOREIGN KEY([ICODIGO])
REFERENCES [dbo].[MEDICAMENTO] ([ICODIGO])
GO
ALTER TABLE [dbo].[CONTRAINDICACION_DIAGNOSTICO] CHECK CONSTRAINT [FK_CONTRAINDICACION_DIAGNOSTICO_MEDICAMENTO]
GO
ALTER TABLE [dbo].[CONTRAINDICACION_MEDICAMENTO]  WITH CHECK ADD  CONSTRAINT [FK_CONTRAINDICACION_MEDICAMENTO_MEDICAMENTO1] FOREIGN KEY([ICODIGO])
REFERENCES [dbo].[MEDICAMENTO] ([ICODIGO])
GO
ALTER TABLE [dbo].[CONTRAINDICACION_MEDICAMENTO] CHECK CONSTRAINT [FK_CONTRAINDICACION_MEDICAMENTO_MEDICAMENTO1]
GO
ALTER TABLE [dbo].[CONTRAINDICACION_MEDICAMENTO]  WITH CHECK ADD  CONSTRAINT [FK_CONTRAINDICACION_MEDICAMENTO_MEDICAMENTO2] FOREIGN KEY([IIDMEDICAMENTO])
REFERENCES [dbo].[MEDICAMENTO] ([ICODIGO])
GO
ALTER TABLE [dbo].[CONTRAINDICACION_MEDICAMENTO] CHECK CONSTRAINT [FK_CONTRAINDICACION_MEDICAMENTO_MEDICAMENTO2]
GO
ALTER TABLE [dbo].[CONTRAINDICACION_SINTOMA]  WITH CHECK ADD  CONSTRAINT [FK_CONTRAINDICACION_SINTOMA_MEDICAMENTO] FOREIGN KEY([ICODIGO])
REFERENCES [dbo].[MEDICAMENTO] ([ICODIGO])
GO
ALTER TABLE [dbo].[CONTRAINDICACION_SINTOMA] CHECK CONSTRAINT [FK_CONTRAINDICACION_SINTOMA_MEDICAMENTO]
GO
ALTER TABLE [dbo].[CONTRAINDICACION_SINTOMA]  WITH CHECK ADD  CONSTRAINT [FK_CONTRAINDICACION_SINTOMA_SINTOMA] FOREIGN KEY([IIDSINTOMA])
REFERENCES [dbo].[SINTOMA] ([IID])
GO
ALTER TABLE [dbo].[CONTRAINDICACION_SINTOMA] CHECK CONSTRAINT [FK_CONTRAINDICACION_SINTOMA_SINTOMA]
GO
ALTER TABLE [dbo].[DIAGNOSTICO]  WITH CHECK ADD  CONSTRAINT [FK_DIAGNOSTICO_DIAGNOSTICO] FOREIGN KEY([IID])
REFERENCES [dbo].[DIAGNOSTICO] ([IID])
GO
ALTER TABLE [dbo].[DIAGNOSTICO] CHECK CONSTRAINT [FK_DIAGNOSTICO_DIAGNOSTICO]
GO
ALTER TABLE [dbo].[DIAGNOSTICO_SINTOMA]  WITH CHECK ADD  CONSTRAINT [FK_DIAGNOSTICO_SINTOMA_DIAGNOSTICO] FOREIGN KEY([IIDDIAGNOSTICO])
REFERENCES [dbo].[DIAGNOSTICO] ([IID])
GO
ALTER TABLE [dbo].[DIAGNOSTICO_SINTOMA] CHECK CONSTRAINT [FK_DIAGNOSTICO_SINTOMA_DIAGNOSTICO]
GO
ALTER TABLE [dbo].[DIAGNOSTICO_SINTOMA]  WITH CHECK ADD  CONSTRAINT [FK_DIAGNOSTICO_SINTOMA_SINTOMA] FOREIGN KEY([IIDSINTOMA])
REFERENCES [dbo].[SINTOMA] ([IID])
GO
ALTER TABLE [dbo].[DIAGNOSTICO_SINTOMA] CHECK CONSTRAINT [FK_DIAGNOSTICO_SINTOMA_SINTOMA]
GO
ALTER TABLE [dbo].[DOSIS]  WITH CHECK ADD  CONSTRAINT [FK_DOSIS_MEDICAMENTO] FOREIGN KEY([ICODIGO])
REFERENCES [dbo].[MEDICAMENTO] ([ICODIGO])
GO
ALTER TABLE [dbo].[DOSIS] CHECK CONSTRAINT [FK_DOSIS_MEDICAMENTO]
GO
ALTER TABLE [dbo].[EFECTO_ADVERSO]  WITH CHECK ADD  CONSTRAINT [FK_EFECTO_ADVERSO_MEDICAMENTO] FOREIGN KEY([ICODIGO])
REFERENCES [dbo].[MEDICAMENTO] ([ICODIGO])
GO
ALTER TABLE [dbo].[EFECTO_ADVERSO] CHECK CONSTRAINT [FK_EFECTO_ADVERSO_MEDICAMENTO]
GO
ALTER TABLE [dbo].[EFECTO_ADVERSO]  WITH CHECK ADD  CONSTRAINT [FK_EFECTO_ADVERSO_SINTOMA] FOREIGN KEY([IIDSINTOMA])
REFERENCES [dbo].[SINTOMA] ([IID])
GO
ALTER TABLE [dbo].[EFECTO_ADVERSO] CHECK CONSTRAINT [FK_EFECTO_ADVERSO_SINTOMA]
GO
ALTER TABLE [dbo].[INDICACION_DIAGNOSTICO]  WITH CHECK ADD  CONSTRAINT [FK_INDICACION_DIAGNOSTICO_DIAGNOSTICO] FOREIGN KEY([IIDIAGNOSTICO])
REFERENCES [dbo].[DIAGNOSTICO] ([IID])
GO
ALTER TABLE [dbo].[INDICACION_DIAGNOSTICO] CHECK CONSTRAINT [FK_INDICACION_DIAGNOSTICO_DIAGNOSTICO]
GO
ALTER TABLE [dbo].[INDICACION_DIAGNOSTICO]  WITH CHECK ADD  CONSTRAINT [FK_INDICACION_DIAGNOSTICO_MEDICAMENTO] FOREIGN KEY([ICODIGO])
REFERENCES [dbo].[MEDICAMENTO] ([ICODIGO])
GO
ALTER TABLE [dbo].[INDICACION_DIAGNOSTICO] CHECK CONSTRAINT [FK_INDICACION_DIAGNOSTICO_MEDICAMENTO]
GO
ALTER TABLE [dbo].[INDICACION_SINTOMA]  WITH CHECK ADD  CONSTRAINT [FK_INDICACION_SINTOMA_MEDICAMENTO] FOREIGN KEY([ICODIGO])
REFERENCES [dbo].[MEDICAMENTO] ([ICODIGO])
GO
ALTER TABLE [dbo].[INDICACION_SINTOMA] CHECK CONSTRAINT [FK_INDICACION_SINTOMA_MEDICAMENTO]
GO
ALTER TABLE [dbo].[INDICACION_SINTOMA]  WITH CHECK ADD  CONSTRAINT [FK_INDICACION_SINTOMA_SINTOMA] FOREIGN KEY([ISINTOMA])
REFERENCES [dbo].[SINTOMA] ([IID])
GO
ALTER TABLE [dbo].[INDICACION_SINTOMA] CHECK CONSTRAINT [FK_INDICACION_SINTOMA_SINTOMA]
GO
ALTER TABLE [dbo].[MEDI_NOMBRE]  WITH CHECK ADD  CONSTRAINT [FK_MEDI_NOMBRE_MEDICAMENTO] FOREIGN KEY([ICODIGO])
REFERENCES [dbo].[MEDICAMENTO] ([ICODIGO])
GO
ALTER TABLE [dbo].[MEDI_NOMBRE] CHECK CONSTRAINT [FK_MEDI_NOMBRE_MEDICAMENTO]
GO
ALTER TABLE [dbo].[MEDICAMENTO_VIA]  WITH CHECK ADD  CONSTRAINT [FK_MEDICAMENTO_VIA_MEDICAMENTO] FOREIGN KEY([ICODIGO])
REFERENCES [dbo].[MEDICAMENTO] ([ICODIGO])
GO
ALTER TABLE [dbo].[MEDICAMENTO_VIA] CHECK CONSTRAINT [FK_MEDICAMENTO_VIA_MEDICAMENTO]
GO
ALTER TABLE [dbo].[MEDICAMENTO_VIA]  WITH CHECK ADD  CONSTRAINT [FK_MEDICAMENTO_VIA_VIA_ADMINISTRACION] FOREIGN KEY([IIDVIA])
REFERENCES [dbo].[VIA_ADMINISTRACION] ([IID])
GO
ALTER TABLE [dbo].[MEDICAMENTO_VIA] CHECK CONSTRAINT [FK_MEDICAMENTO_VIA_VIA_ADMINISTRACION]
GO
ALTER TABLE [dbo].[PACIENTE]  WITH CHECK ADD  CONSTRAINT [FK_PACIENTE_DATOSPERSONALES] FOREIGN KEY([VIDENTIFICACION])
REFERENCES [dbo].[DATOSPERSONALES] ([VCEDULA])
GO
ALTER TABLE [dbo].[PACIENTE] CHECK CONSTRAINT [FK_PACIENTE_DATOSPERSONALES]
GO
ALTER TABLE [dbo].[PACIENTE]  WITH CHECK ADD  CONSTRAINT [FK_PACIENTE_DIAGNOSTICO] FOREIGN KEY([IDIAGNOSTICO])
REFERENCES [dbo].[DIAGNOSTICO] ([IID])
GO
ALTER TABLE [dbo].[PACIENTE] CHECK CONSTRAINT [FK_PACIENTE_DIAGNOSTICO]
GO
ALTER TABLE [dbo].[PACIENTE_MEDICAMENTO]  WITH CHECK ADD  CONSTRAINT [FK_PACIENTE_MEDICAMENTO_MEDICAMENTO] FOREIGN KEY([ICODIGO])
REFERENCES [dbo].[MEDICAMENTO] ([ICODIGO])
GO
ALTER TABLE [dbo].[PACIENTE_MEDICAMENTO] CHECK CONSTRAINT [FK_PACIENTE_MEDICAMENTO_MEDICAMENTO]
GO
ALTER TABLE [dbo].[PACIENTE_MEDICAMENTO]  WITH CHECK ADD  CONSTRAINT [FK_PACIENTE_MEDICAMENTO_PACIENTE] FOREIGN KEY([VIDENTIFICACION])
REFERENCES [dbo].[PACIENTE] ([VIDENTIFICACION])
GO
ALTER TABLE [dbo].[PACIENTE_MEDICAMENTO] CHECK CONSTRAINT [FK_PACIENTE_MEDICAMENTO_PACIENTE]
GO
ALTER TABLE [dbo].[PACIENTE_SINTOMA]  WITH CHECK ADD  CONSTRAINT [FK_PACIENTE_SINTOMA_PACIENTE] FOREIGN KEY([VIDENTIFICACION])
REFERENCES [dbo].[PACIENTE] ([VIDENTIFICACION])
GO
ALTER TABLE [dbo].[PACIENTE_SINTOMA] CHECK CONSTRAINT [FK_PACIENTE_SINTOMA_PACIENTE]
GO
ALTER TABLE [dbo].[PACIENTE_SINTOMA]  WITH CHECK ADD  CONSTRAINT [FK_PACIENTE_SINTOMA_SINTOMA] FOREIGN KEY([IIDSINTOMA])
REFERENCES [dbo].[SINTOMA] ([IID])
GO
ALTER TABLE [dbo].[PACIENTE_SINTOMA] CHECK CONSTRAINT [FK_PACIENTE_SINTOMA_SINTOMA]
GO
ALTER TABLE [dbo].[PADECIMIENTO]  WITH CHECK ADD  CONSTRAINT [FK_PADECIMIENTO_PACIENTE] FOREIGN KEY([IIDPACIENTE])
REFERENCES [dbo].[PACIENTE] ([VIDENTIFICACION])
GO
ALTER TABLE [dbo].[PADECIMIENTO] CHECK CONSTRAINT [FK_PADECIMIENTO_PACIENTE]
GO
ALTER TABLE [dbo].[PADECIMIENTO]  WITH CHECK ADD  CONSTRAINT [FK_PADECIMIENTOS_DIAGNOSTICO] FOREIGN KEY([IIDDIAGNOSTICO])
REFERENCES [dbo].[DIAGNOSTICO] ([IID])
GO
ALTER TABLE [dbo].[PADECIMIENTO] CHECK CONSTRAINT [FK_PADECIMIENTOS_DIAGNOSTICO]
GO
ALTER TABLE [dbo].[SIGNOS_VITALES]  WITH CHECK ADD  CONSTRAINT [FK_SIGNOS_VITALES_PACIENTE] FOREIGN KEY([IIDPACIENTE])
REFERENCES [dbo].[PACIENTE] ([VIDENTIFICACION])
GO
ALTER TABLE [dbo].[SIGNOS_VITALES] CHECK CONSTRAINT [FK_SIGNOS_VITALES_PACIENTE]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_DatosPersonales] FOREIGN KEY([IDDATOSPERSONALES])
REFERENCES [dbo].[DATOSPERSONALES] ([VCEDULA])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_DatosPersonales]
GO
/****** Object:  StoredProcedure [dbo].[EstadoPresionAlta]    Script Date: 25/04/2018 20:59:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[EstadoPresionAlta]
	-- Add the parameters for the stored procedure here
	@ID varchar(11)
AS
DECLARE  @CODIGOSINTOMABAJA INT, @CODIGOSINTOMAALTA INT, @ESTADO BIT, @VIDENTIFICACION VARCHAR(11), @IIDSINTOMA INT, @BESTADO BIT; 
declare  MI_CURSOR CURSOR FOR SELECT * FROM [dbo].[PACIENTE_SINTOMA] WHERE VIDENTIFICACION = @ID;
	
BEGIN

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
    -- Insert statements for procedure here
	SET @ESTADO = 0; 
	SELECT  @CODIGOSINTOMABAJA = IID FROM [dbo].[SINTOMA] WHERE VEFECTO = 'Hipotension';
	SELECT  @CODIGOSINTOMAALTA = IID FROM [dbo].[SINTOMA] WHERE VEFECTO = 'Hipertension';
	OPEN MI_CURSOR;
	FETCH MI_CURSOR INTO @VIDENTIFICACION, @IIDSINTOMA, @BESTADO
	WHILE (@@FETCH_STATUS = 0 )
		BEGIN
			if(@IIDSINTOMA = @CODIGOSINTOMABAJA and @BESTADO = 1)
			BEGIN
				UPDATE [dbo].[PACIENTE_SINTOMA] SET BESTADO = 0 WHERE (VIDENTIFICACION = @ID AND IIDSINTOMA = @CODIGOSINTOMABAJA) ;
			END
			if(@IIDSINTOMA = @CODIGOSINTOMAALTA and @BESTADO = 1)
			BEGIN
				SET @ESTADO = 1; 
			END
			if(@IIDSINTOMA = @CODIGOSINTOMAALTA and @BESTADO = 0)
			BEGIN
				UPDATE [dbo].[PACIENTE_SINTOMA] SET BESTADO = 1 WHERE (VIDENTIFICACION = @ID AND IIDSINTOMA = @CODIGOSINTOMAALTA) ;
				SET @ESTADO = 1;
			END
			FETCH MI_CURSOR INTO @VIDENTIFICACION, @IIDSINTOMA, @BESTADO
		END

	-- CIERRE DEL CURSOR
	CLOSE MI_CURSOR
 
	-- LIBERAR LOS RECURSOS
	DEALLOCATE MI_CURSOR  
	IF (@ESTADO = 0)
	BEGIN
		INSERT INTO [dbo].[PACIENTE_SINTOMA] VALUES (@ID,@CODIGOSINTOMAALTA,1);
	END
END
GO
/****** Object:  StoredProcedure [dbo].[EstadoPresionBaja]    Script Date: 25/04/2018 20:59:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[EstadoPresionBaja]
	-- Add the parameters for the stored procedure here
	@ID varchar(11)
AS
DECLARE  @CODIGOSINTOMABAJA INT, @CODIGOSINTOMAALTA INT, @ESTADO BIT, @VIDENTIFICACION VARCHAR(11), @IIDSINTOMA INT, @BESTADO BIT; 
declare  MI_CURSOR CURSOR FOR SELECT * FROM [dbo].[PACIENTE_SINTOMA] WHERE VIDENTIFICACION = @ID;
	
BEGIN

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
    -- Insert statements for procedure here
	SET @ESTADO = 0; 
	SELECT  @CODIGOSINTOMABAJA = IID FROM [dbo].[SINTOMA] WHERE VEFECTO = 'Hipotension';
	SELECT  @CODIGOSINTOMAALTA = IID FROM [dbo].[SINTOMA] WHERE VEFECTO = 'Hipertension';
	OPEN MI_CURSOR;
	FETCH MI_CURSOR INTO @VIDENTIFICACION, @IIDSINTOMA, @BESTADO
	WHILE (@@FETCH_STATUS = 0 )
		BEGIN
			if(@IIDSINTOMA = @CODIGOSINTOMAALTA and @BESTADO = 1)
			BEGIN
				UPDATE [dbo].[PACIENTE_SINTOMA] SET BESTADO = 0 WHERE (VIDENTIFICACION = @ID AND IIDSINTOMA = @CODIGOSINTOMAALTA) ;
			END
			if(@IIDSINTOMA = @CODIGOSINTOMABAJA and @BESTADO = 1)
			BEGIN
				SET @ESTADO = 1; 
			END
			if(@IIDSINTOMA = @CODIGOSINTOMABAJA and @BESTADO = 0)
			BEGIN
				UPDATE [dbo].[PACIENTE_SINTOMA] SET BESTADO = 1 WHERE (VIDENTIFICACION = @ID AND IIDSINTOMA = @CODIGOSINTOMABAJA) ;
				SET @ESTADO = 1;
			END
			FETCH MI_CURSOR INTO @VIDENTIFICACION, @IIDSINTOMA, @BESTADO
		END

	-- CIERRE DEL CURSOR
	CLOSE MI_CURSOR
 
	-- LIBERAR LOS RECURSOS
	DEALLOCATE MI_CURSOR  
	IF (@ESTADO = 0)
	BEGIN
		INSERT INTO [dbo].[PACIENTE_SINTOMA] VALUES (@ID,@CODIGOSINTOMABAJA,1);
	END
END
GO
/****** Object:  StoredProcedure [dbo].[EstadoPresionNormal]    Script Date: 25/04/2018 20:59:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[EstadoPresionNormal]
	-- Add the parameters for the stored procedure here
	@ID varchar(11)
AS
DECLARE  @CODIGOSINTOMABAJA INT, @CODIGOSINTOMAALTA INT, @VIDENTIFICACION VARCHAR(11), @IIDSINTOMA INT, @BESTADO BIT; 
declare  MI_CURSOR CURSOR FOR SELECT * FROM [dbo].[PACIENTE_SINTOMA] WHERE VIDENTIFICACION = @ID;
	
BEGIN

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
    -- Insert statements for procedure here
	SELECT  @CODIGOSINTOMABAJA = IID FROM [dbo].[SINTOMA] WHERE VEFECTO = 'Hipotension';
	SELECT  @CODIGOSINTOMAALTA = IID FROM [dbo].[SINTOMA] WHERE VEFECTO = 'Hipertension';
	OPEN MI_CURSOR;
	FETCH MI_CURSOR INTO @VIDENTIFICACION, @IIDSINTOMA, @BESTADO
	WHILE (@@FETCH_STATUS = 0 )
		BEGIN
			if(@IIDSINTOMA = @CODIGOSINTOMABAJA and @BESTADO = 1)
			BEGIN
				UPDATE [dbo].[PACIENTE_SINTOMA] SET BESTADO = 0 WHERE (VIDENTIFICACION = @ID AND IIDSINTOMA = @CODIGOSINTOMABAJA) ;
			END
			if(@IIDSINTOMA = @CODIGOSINTOMAALTA and @BESTADO = 1)
			BEGIN
				UPDATE [dbo].[PACIENTE_SINTOMA] SET BESTADO = 0 WHERE (VIDENTIFICACION = @ID AND IIDSINTOMA = @CODIGOSINTOMAALTA) ;
			END
			FETCH MI_CURSOR INTO @VIDENTIFICACION, @IIDSINTOMA, @BESTADO
		END

	-- CIERRE DEL CURSOR
	CLOSE MI_CURSOR
 
	-- LIBERAR LOS RECURSOS
	DEALLOCATE MI_CURSOR  
END
GO
/****** Object:  StoredProcedure [dbo].[EstadoPulsoAlta]    Script Date: 25/04/2018 20:59:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[EstadoPulsoAlta]
	-- Add the parameters for the stored procedure here
	@ID varchar(11)
AS
DECLARE  @CODIGOSINTOMABAJA INT, @CODIGOSINTOMAALTA INT, @ESTADO BIT, @VIDENTIFICACION VARCHAR(11), @IIDSINTOMA INT, @BESTADO BIT; 
declare  MI_CURSOR CURSOR FOR SELECT * FROM [dbo].[PACIENTE_SINTOMA] WHERE VIDENTIFICACION = @ID;
	
BEGIN

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
    -- Insert statements for procedure here
	SET @ESTADO = 0; 
	SELECT  @CODIGOSINTOMABAJA = IID FROM [dbo].[SINTOMA] WHERE VEFECTO = 'Bradicardia';
	SELECT  @CODIGOSINTOMAALTA = IID FROM [dbo].[SINTOMA] WHERE VEFECTO = 'Taquicardia';
	OPEN MI_CURSOR;
	FETCH MI_CURSOR INTO @VIDENTIFICACION, @IIDSINTOMA, @BESTADO
	WHILE (@@FETCH_STATUS = 0 )
		BEGIN
			if(@IIDSINTOMA = @CODIGOSINTOMABAJA and @BESTADO = 1)
			BEGIN
				UPDATE [dbo].[PACIENTE_SINTOMA] SET BESTADO = 0 WHERE (VIDENTIFICACION = @ID AND IIDSINTOMA = @CODIGOSINTOMABAJA) ;
			END
			if(@IIDSINTOMA = @CODIGOSINTOMAALTA and @BESTADO = 1)
			BEGIN
				SET @ESTADO = 1; 
			END
			if(@IIDSINTOMA = @CODIGOSINTOMAALTA and @BESTADO = 0)
			BEGIN
				UPDATE [dbo].[PACIENTE_SINTOMA] SET BESTADO = 1 WHERE (VIDENTIFICACION = @ID AND IIDSINTOMA = @CODIGOSINTOMAALTA) ;
				SET @ESTADO = 1; 
			END
			FETCH MI_CURSOR INTO @VIDENTIFICACION, @IIDSINTOMA, @BESTADO
		END

	-- CIERRE DEL CURSOR
	CLOSE MI_CURSOR
 
	-- LIBERAR LOS RECURSOS
	DEALLOCATE MI_CURSOR  
	IF (@ESTADO = 0)
	BEGIN
		INSERT INTO [dbo].[PACIENTE_SINTOMA] VALUES (@ID,@CODIGOSINTOMAALTA,1);
	END
END
GO
/****** Object:  StoredProcedure [dbo].[EstadoPulsoBaja]    Script Date: 25/04/2018 20:59:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[EstadoPulsoBaja]
	-- Add the parameters for the stored procedure here
	@ID varchar(11)
AS
DECLARE  @CODIGOSINTOMABAJA INT, @CODIGOSINTOMAALTA INT, @ESTADO BIT, @VIDENTIFICACION VARCHAR(11), @IIDSINTOMA INT, @BESTADO BIT; 
declare  MI_CURSOR CURSOR FOR SELECT * FROM [dbo].[PACIENTE_SINTOMA] WHERE VIDENTIFICACION = @ID;
	
BEGIN

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
    -- Insert statements for procedure here
	SET @ESTADO = 0; 
	SELECT  @CODIGOSINTOMABAJA = IID FROM [dbo].[SINTOMA] WHERE VEFECTO = 'Bradicardia';
	SELECT  @CODIGOSINTOMAALTA = IID FROM [dbo].[SINTOMA] WHERE VEFECTO = 'Taquicardia';
	OPEN MI_CURSOR;
	FETCH MI_CURSOR INTO @VIDENTIFICACION, @IIDSINTOMA, @BESTADO
	WHILE (@@FETCH_STATUS = 0 )
		BEGIN
			if(@IIDSINTOMA = @CODIGOSINTOMAALTA and @BESTADO = 1)
			BEGIN
				UPDATE [dbo].[PACIENTE_SINTOMA] SET BESTADO = 0 WHERE (VIDENTIFICACION = @ID AND IIDSINTOMA = @CODIGOSINTOMAALTA) ;
			END
			if(@IIDSINTOMA = @CODIGOSINTOMABAJA and @BESTADO = 1)
			BEGIN
				SET @ESTADO = 1; 
			END
			if(@IIDSINTOMA = @CODIGOSINTOMABAJA and @BESTADO = 0)
			BEGIN
				UPDATE [dbo].[PACIENTE_SINTOMA] SET BESTADO = 1 WHERE (VIDENTIFICACION = @ID AND IIDSINTOMA = @CODIGOSINTOMABAJA) ;
				SET @ESTADO = 1; 
			END
			FETCH MI_CURSOR INTO @VIDENTIFICACION, @IIDSINTOMA, @BESTADO
		END

	-- CIERRE DEL CURSOR
	CLOSE MI_CURSOR
 
	-- LIBERAR LOS RECURSOS
	DEALLOCATE MI_CURSOR  
	IF (@ESTADO = 0)
	BEGIN
		INSERT INTO [dbo].[PACIENTE_SINTOMA] VALUES (@ID,@CODIGOSINTOMABAJA,1);
	END
END
GO
/****** Object:  StoredProcedure [dbo].[EstadoPulsoNormal]    Script Date: 25/04/2018 20:59:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[EstadoPulsoNormal]
	-- Add the parameters for the stored procedure here
	@ID varchar(11)
AS
DECLARE  @CODIGOSINTOMABAJA INT, @CODIGOSINTOMAALTA INT, @VIDENTIFICACION VARCHAR(11), @IIDSINTOMA INT, @BESTADO BIT; 
declare  MI_CURSOR CURSOR FOR SELECT * FROM [dbo].[PACIENTE_SINTOMA] WHERE VIDENTIFICACION = @ID;
	
BEGIN

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
    -- Insert statements for procedure here
	SELECT  @CODIGOSINTOMABAJA = IID FROM [dbo].[SINTOMA] WHERE VEFECTO = 'Bradicardia';
	SELECT  @CODIGOSINTOMAALTA = IID FROM [dbo].[SINTOMA] WHERE VEFECTO = 'Taquicardia';
	OPEN MI_CURSOR;
	FETCH MI_CURSOR INTO @VIDENTIFICACION, @IIDSINTOMA, @BESTADO
	WHILE (@@FETCH_STATUS = 0 )
		BEGIN
			if(@IIDSINTOMA = @CODIGOSINTOMABAJA and @BESTADO = 1)
			BEGIN
				UPDATE [dbo].[PACIENTE_SINTOMA] SET BESTADO = 0 WHERE (VIDENTIFICACION = @ID AND IIDSINTOMA = @CODIGOSINTOMABAJA) ;
			END
			if(@IIDSINTOMA = @CODIGOSINTOMAALTA and @BESTADO = 1)
			BEGIN
				UPDATE [dbo].[PACIENTE_SINTOMA] SET BESTADO = 0 WHERE (VIDENTIFICACION = @ID AND IIDSINTOMA = @CODIGOSINTOMAALTA) ;
			END
			FETCH MI_CURSOR INTO @VIDENTIFICACION, @IIDSINTOMA, @BESTADO
		END

	-- CIERRE DEL CURSOR
	CLOSE MI_CURSOR
 
	-- LIBERAR LOS RECURSOS
	DEALLOCATE MI_CURSOR  
END
GO
/****** Object:  StoredProcedure [dbo].[EstadoSaturacionAlta]    Script Date: 25/04/2018 20:59:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[EstadoSaturacionAlta]
	-- Add the parameters for the stored procedure here
	@ID varchar(11)
AS
DECLARE  @CODIGOSINTOMABAJA INT, @CODIGOSINTOMAALTA INT, @ESTADO BIT, @VIDENTIFICACION VARCHAR(11), @IIDSINTOMA INT, @BESTADO BIT; 
declare  MI_CURSOR CURSOR FOR SELECT * FROM [dbo].[PACIENTE_SINTOMA] WHERE VIDENTIFICACION = @ID;
	
BEGIN

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
    -- Insert statements for procedure here
	SET @ESTADO = 0; 
	SELECT  @CODIGOSINTOMABAJA = IID FROM [dbo].[SINTOMA] WHERE VEFECTO = 'Hipoxemia';
	SELECT  @CODIGOSINTOMAALTA = IID FROM [dbo].[SINTOMA] WHERE VEFECTO = 'Hiperoxemia';
	OPEN MI_CURSOR;
	FETCH MI_CURSOR INTO @VIDENTIFICACION, @IIDSINTOMA, @BESTADO
	WHILE (@@FETCH_STATUS = 0 )
		BEGIN
			if(@IIDSINTOMA = @CODIGOSINTOMABAJA and @BESTADO = 1)
			BEGIN
				UPDATE [dbo].[PACIENTE_SINTOMA] SET BESTADO = 0 WHERE (VIDENTIFICACION = @ID AND IIDSINTOMA = @CODIGOSINTOMABAJA) ;
			END
			if(@IIDSINTOMA = @CODIGOSINTOMAALTA and @BESTADO = 1)
			BEGIN
				SET @ESTADO = 1; 
			END
			if(@IIDSINTOMA = @CODIGOSINTOMAALTA and @BESTADO = 0)
			BEGIN
				UPDATE [dbo].[PACIENTE_SINTOMA] SET BESTADO = 1 WHERE (VIDENTIFICACION = @ID AND IIDSINTOMA = @CODIGOSINTOMAALTA) ;
				SET @ESTADO = 1;
			END
			FETCH MI_CURSOR INTO @VIDENTIFICACION, @IIDSINTOMA, @BESTADO
		END

	-- CIERRE DEL CURSOR
	CLOSE MI_CURSOR
 
	-- LIBERAR LOS RECURSOS
	DEALLOCATE MI_CURSOR  
	IF (@ESTADO = 0)
	BEGIN
		INSERT INTO [dbo].[PACIENTE_SINTOMA] VALUES (@ID,@CODIGOSINTOMAALTA,1);
	END
END
GO
/****** Object:  StoredProcedure [dbo].[EstadoSaturacionBaja]    Script Date: 25/04/2018 20:59:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[EstadoSaturacionBaja]
	-- Add the parameters for the stored procedure here
	@ID varchar(11)
AS
DECLARE  @CODIGOSINTOMABAJA INT, @CODIGOSINTOMAALTA INT, @ESTADO BIT, @VIDENTIFICACION VARCHAR(11), @IIDSINTOMA INT, @BESTADO BIT; 
declare  MI_CURSOR CURSOR FOR SELECT * FROM [dbo].[PACIENTE_SINTOMA] WHERE VIDENTIFICACION = @ID;
	
BEGIN

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
    -- Insert statements for procedure here
	SET @ESTADO = 0; 
	SELECT  @CODIGOSINTOMABAJA = IID FROM [dbo].[SINTOMA] WHERE VEFECTO = 'Hipoxemia';
	SELECT  @CODIGOSINTOMAALTA = IID FROM [dbo].[SINTOMA] WHERE VEFECTO = 'Hiperoxemia';
	OPEN MI_CURSOR;
	FETCH MI_CURSOR INTO @VIDENTIFICACION, @IIDSINTOMA, @BESTADO
	WHILE (@@FETCH_STATUS = 0 )
		BEGIN
			if(@IIDSINTOMA = @CODIGOSINTOMAALTA and @BESTADO = 1)
			BEGIN
				UPDATE [dbo].[PACIENTE_SINTOMA] SET BESTADO = 0 WHERE (VIDENTIFICACION = @ID AND IIDSINTOMA = @CODIGOSINTOMAALTA) ;
			END
			if(@IIDSINTOMA = @CODIGOSINTOMABAJA and @BESTADO = 1)
			BEGIN
				SET @ESTADO = 1; 
			END
			if(@IIDSINTOMA = @CODIGOSINTOMABAJA and @BESTADO = 0)
			BEGIN
				UPDATE [dbo].[PACIENTE_SINTOMA] SET BESTADO = 1 WHERE (VIDENTIFICACION = @ID AND IIDSINTOMA = @CODIGOSINTOMABAJA) ;
				SET @ESTADO = 1; 
			END
			FETCH MI_CURSOR INTO @VIDENTIFICACION, @IIDSINTOMA, @BESTADO
		END

	-- CIERRE DEL CURSOR
	CLOSE MI_CURSOR
 
	-- LIBERAR LOS RECURSOS
	DEALLOCATE MI_CURSOR  
	IF (@ESTADO = 0)
	BEGIN
		INSERT INTO [dbo].[PACIENTE_SINTOMA] VALUES (@ID,@CODIGOSINTOMABAJA,1);
	END
END
GO
/****** Object:  StoredProcedure [dbo].[EstadoSaturacionNormal]    Script Date: 25/04/2018 20:59:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[EstadoSaturacionNormal]
	-- Add the parameters for the stored procedure here
	@ID varchar(11)
AS
DECLARE  @CODIGOSINTOMABAJA INT, @CODIGOSINTOMAALTA INT, @VIDENTIFICACION VARCHAR(11), @IIDSINTOMA INT, @BESTADO BIT; 
declare  MI_CURSOR CURSOR FOR SELECT * FROM [dbo].[PACIENTE_SINTOMA] WHERE VIDENTIFICACION = @ID;
	
BEGIN

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
    -- Insert statements for procedure here
	SELECT  @CODIGOSINTOMABAJA = IID FROM [dbo].[SINTOMA] WHERE VEFECTO = 'Hipoxemia';
	SELECT  @CODIGOSINTOMAALTA = IID FROM [dbo].[SINTOMA] WHERE VEFECTO = 'Hiperoxemia';
	OPEN MI_CURSOR;
	FETCH MI_CURSOR INTO @VIDENTIFICACION, @IIDSINTOMA, @BESTADO
	WHILE (@@FETCH_STATUS = 0 )
		BEGIN
			if(@IIDSINTOMA = @CODIGOSINTOMABAJA and @BESTADO = 1)
			BEGIN
				UPDATE [dbo].[PACIENTE_SINTOMA] SET BESTADO = 0 WHERE (VIDENTIFICACION = @ID AND IIDSINTOMA = @CODIGOSINTOMABAJA) ;
			END
			if(@IIDSINTOMA = @CODIGOSINTOMAALTA and @BESTADO = 1)
			BEGIN
				UPDATE [dbo].[PACIENTE_SINTOMA] SET BESTADO = 0 WHERE (VIDENTIFICACION = @ID AND IIDSINTOMA = @CODIGOSINTOMAALTA) ;
			END
			FETCH MI_CURSOR INTO @VIDENTIFICACION, @IIDSINTOMA, @BESTADO
		END

	-- CIERRE DEL CURSOR
	CLOSE MI_CURSOR
 
	-- LIBERAR LOS RECURSOS
	DEALLOCATE MI_CURSOR  
END
GO
/****** Object:  StoredProcedure [dbo].[EstadoTemperaturaAlta]    Script Date: 25/04/2018 20:59:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[EstadoTemperaturaAlta]
	-- Add the parameters for the stored procedure here
	@ID varchar(11)
AS
DECLARE  @CODIGOSINTOMABAJA INT, @CODIGOSINTOMAALTA INT, @ESTADO BIT, @VIDENTIFICACION VARCHAR(11), @IIDSINTOMA INT, @BESTADO BIT; 
declare  MI_CURSOR CURSOR FOR SELECT * FROM [dbo].[PACIENTE_SINTOMA] WHERE VIDENTIFICACION = @ID;
	
BEGIN

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
    -- Insert statements for procedure here
	SET @ESTADO = 0; 
	SELECT  @CODIGOSINTOMABAJA = IID FROM [dbo].[SINTOMA] WHERE VEFECTO = 'Hipotermia';
	SELECT  @CODIGOSINTOMAALTA = IID FROM [dbo].[SINTOMA] WHERE VEFECTO = 'Fiebre';
	OPEN MI_CURSOR;
	FETCH MI_CURSOR INTO @VIDENTIFICACION, @IIDSINTOMA, @BESTADO
	WHILE (@@FETCH_STATUS = 0 )
		BEGIN
			if(@IIDSINTOMA = @CODIGOSINTOMABAJA and @BESTADO = 1)
			BEGIN
				UPDATE [dbo].[PACIENTE_SINTOMA] SET BESTADO = 0 WHERE (VIDENTIFICACION = @ID AND IIDSINTOMA = @CODIGOSINTOMABAJA) ;
			END
			if(@IIDSINTOMA = @CODIGOSINTOMAALTA and @BESTADO = 1)
			BEGIN
				SET @ESTADO = 1; 
			END
			if(@IIDSINTOMA = @CODIGOSINTOMAALTA and @BESTADO = 0)
			BEGIN
				UPDATE [dbo].[PACIENTE_SINTOMA] SET BESTADO = 1 WHERE (VIDENTIFICACION = @ID AND IIDSINTOMA = @CODIGOSINTOMAALTA) ;
				SET @ESTADO = 1; 
			END
			FETCH MI_CURSOR INTO @VIDENTIFICACION, @IIDSINTOMA, @BESTADO
		END

	-- CIERRE DEL CURSOR
	CLOSE MI_CURSOR
 
	-- LIBERAR LOS RECURSOS
	DEALLOCATE MI_CURSOR  
	IF (@ESTADO = 0)
	BEGIN
		INSERT INTO [dbo].[PACIENTE_SINTOMA] VALUES (@ID,@CODIGOSINTOMAALTA,1);
	END
END
GO
/****** Object:  StoredProcedure [dbo].[EstadoTemperaturaBaja]    Script Date: 25/04/2018 20:59:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[EstadoTemperaturaBaja]
	-- Add the parameters for the stored procedure here
	@ID varchar(11)
AS
DECLARE  @CODIGOSINTOMABAJA INT, @CODIGOSINTOMAALTA INT, @ESTADO BIT, @VIDENTIFICACION VARCHAR(11), @IIDSINTOMA INT, @BESTADO BIT; 
declare  MI_CURSOR CURSOR FOR SELECT * FROM [dbo].[PACIENTE_SINTOMA] WHERE VIDENTIFICACION = @ID;
	
BEGIN

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
    -- Insert statements for procedure here
	SET @ESTADO = 0; 
	SELECT  @CODIGOSINTOMABAJA = IID FROM [dbo].[SINTOMA] WHERE VEFECTO = 'Hipotermia';
	SELECT  @CODIGOSINTOMAALTA = IID FROM [dbo].[SINTOMA] WHERE VEFECTO = 'Fiebre';
	OPEN MI_CURSOR;
	FETCH MI_CURSOR INTO @VIDENTIFICACION, @IIDSINTOMA, @BESTADO
	WHILE (@@FETCH_STATUS = 0 )
		BEGIN
			if(@IIDSINTOMA = @CODIGOSINTOMAALTA and @BESTADO = 1)
			BEGIN
				UPDATE [dbo].[PACIENTE_SINTOMA] SET BESTADO = 0 WHERE (VIDENTIFICACION = @ID AND IIDSINTOMA = @CODIGOSINTOMAALTA) ;
			END
			if(@IIDSINTOMA = @CODIGOSINTOMABAJA and @BESTADO = 1)
			BEGIN
				SET @ESTADO = 1; 
			END
			if(@IIDSINTOMA = @CODIGOSINTOMABAJA and @BESTADO = 0)
			BEGIN
				UPDATE [dbo].[PACIENTE_SINTOMA] SET BESTADO = 1 WHERE (VIDENTIFICACION = @ID AND IIDSINTOMA = @CODIGOSINTOMABAJA) ;
				SET @ESTADO = 1; 
			END
			FETCH MI_CURSOR INTO @VIDENTIFICACION, @IIDSINTOMA, @BESTADO
		END

	-- CIERRE DEL CURSOR
	CLOSE MI_CURSOR
 
	-- LIBERAR LOS RECURSOS
	DEALLOCATE MI_CURSOR  
	IF (@ESTADO = 0)
	BEGIN
		INSERT INTO [dbo].[PACIENTE_SINTOMA] VALUES (@ID,@CODIGOSINTOMABAJA,1);
	END
END
GO
/****** Object:  StoredProcedure [dbo].[EstadoTemperaturaNormal]    Script Date: 25/04/2018 20:59:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[EstadoTemperaturaNormal]
	-- Add the parameters for the stored procedure here
	@ID varchar(11)
AS
DECLARE  @CODIGOSINTOMABAJA INT, @CODIGOSINTOMAALTA INT, @VIDENTIFICACION VARCHAR(11), @IIDSINTOMA INT, @BESTADO BIT; 
declare  MI_CURSOR CURSOR FOR SELECT * FROM [dbo].[PACIENTE_SINTOMA] WHERE VIDENTIFICACION = @ID;
	
BEGIN

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
    -- Insert statements for procedure here
	SELECT  @CODIGOSINTOMABAJA = IID FROM [dbo].[SINTOMA] WHERE VEFECTO = 'Hipotermia';
	SELECT  @CODIGOSINTOMAALTA = IID FROM [dbo].[SINTOMA] WHERE VEFECTO = 'Fiebre';
	OPEN MI_CURSOR;
	FETCH MI_CURSOR INTO @VIDENTIFICACION, @IIDSINTOMA, @BESTADO
	WHILE (@@FETCH_STATUS = 0 )
		BEGIN
			if(@IIDSINTOMA = @CODIGOSINTOMABAJA and @BESTADO = 1)
			BEGIN
				UPDATE [dbo].[PACIENTE_SINTOMA] SET BESTADO = 0 WHERE (VIDENTIFICACION = @ID AND IIDSINTOMA = @CODIGOSINTOMABAJA) ;
			END
			if(@IIDSINTOMA = @CODIGOSINTOMAALTA and @BESTADO = 1)
			BEGIN
				UPDATE [dbo].[PACIENTE_SINTOMA] SET BESTADO = 0 WHERE (VIDENTIFICACION = @ID AND IIDSINTOMA = @CODIGOSINTOMAALTA) ;
			END
			FETCH MI_CURSOR INTO @VIDENTIFICACION, @IIDSINTOMA, @BESTADO
		END

	-- CIERRE DEL CURSOR
	CLOSE MI_CURSOR
 
	-- LIBERAR LOS RECURSOS
	DEALLOCATE MI_CURSOR  
END
GO
/****** Object:  Trigger [dbo].[CONTRAINDICACION_MEDICAMENTO_TRIGGER]    Script Date: 25/04/2018 20:59:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE TRIGGER [dbo].[CONTRAINDICACION_MEDICAMENTO_TRIGGER]
   ON  [dbo].[CONTRAINDICACION_MEDICAMENTO]
   AFTER INSERT
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for trigger here
	Insert into dbo.CONTRAINDICACION_MEDICAMENTO (ICODIGO, IIDMEDICAMENTO, VDESCRIPCION) Select IIDMEDICAMENTO, ICODIGO, VDESCRIPCION From INSERTED;

END
GO
ALTER TABLE [dbo].[CONTRAINDICACION_MEDICAMENTO] ENABLE TRIGGER [CONTRAINDICACION_MEDICAMENTO_TRIGGER]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "C"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 119
               Right = 227
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VistaMedicamentosContraindicacion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VistaMedicamentosContraindicacion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "P"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 251
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VistaPacienteMedicamento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VistaPacienteMedicamento'
GO
USE [master]
GO
